/* CSS Rules */

@charset 'utf-8';

body{
    margin: 0%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-weight: 400;
    margin: 0;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
}

input:focus{
    border: none;
    outline: none;
}

/* Calculator Rules _________________________________________________ */
.calcContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.calculator{
    width: 300px;
    height: 500px;
    background-color: #383838;
    border-radius: 15px;
    border: 5px solid #838383;
}

.calcScreen{
    width: 80%;
    height: 80px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    outline: 1px solid rgb(0, 0, 0);
}

.calcButtons{
    width: 80%;
    height: 350px;
    /* background-color: #f1f1f1; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.opButton{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}

.opButton:hover{
    background-color: #96d5e3;
    outline: 1px solid red;
}

.opButton:last-child{
    background-color: #ebbc11;
}

.numButton{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}

.numButton:hover{
    background-color: #96d5e3;
    outline: 1px solid red;
}

/* Times Numbers Design_________________________________________________ */

.timesTablesResults{
    width: 300px;
    height: 500px;
}

.timesTable{
    width: 70%;
    padding-left: 20%;
    height: 30px;
    margin: 10px;
}

/* Trains Container Design_________________________________________________ */

.trainContainer{
    width: 100%;
    height: 500px;
    background-color: #96d5e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trainNumbers{
    margin-top: 30px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numberInput{
    width: 50px;
    height: 80px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;
    border: none;
}

.howToSolve{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
}

.buttonsDiv{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
}

.reRandomise{
    margin: 15px;
    width: auto;
    height: 50px;
    background-color: #1bad49;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 15px;
}

.correct{
    background-color: #1bad49;
}


.toSolve{
    margin: 15px;
    width: auto;
    height: 50px;
    background-color: #1bad49;
    border-radius: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toSolve:hover{
    background-color: #138b39;
}

.reRandomise:hover{
    background-color: #138b39;
}

/* Responsive Design_________________________________________________ */

@media (max-width: 768px) {
}

