.theme-light {
    --color-background: #F9FAFB;
    --color-bg-2: #96d5e3;
    --color-bg-3: #cecece;

    --color-text: #1A202C;
    --color-header: #0077CC;
    

    --color-gareth: darkorange;
    --color-garethson: rgb(215, 118, 0);

    --color-harold: #cecece;
    --color-haroldson: #8fabb5;

    /* 
    --color-primary: #8ab4f8;
    --color-secondary: #34a853;
    --color-accent: #fbbc05;
    */
}

.theme-dark {
    --color-background: #1A202C;
    --color-bg-2: #2e565f;
    --color-bg-3: #3a3a3a;

    --color-text: #F9FAFB;
    --color-header: #4299E1;

    --color-gareth: rgb(138, 101, 5);
    --color-garethson: rgb(107, 80, 5);

    --color-harold: #3a3a3a;
    --color-haroldson: #29383d;

    /* --color-primary: #8ab4f8;
    --color-secondary: #57bb8a;
    --color-accent: #fbbc05; 
    */
}



/* **************************************************** */
/* crckfx top right switch button  */
/* ---------------------------------------------------- */
.switchThemeBtn {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkorange; */
    background-color: var(--color-gareth);

    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.switchThemeBtn::after {
    content: 'Dark Mode';
}

.theme-dark .switchThemeBtn::after {
    content: 'Light Mode';
}

.switchThemeBtn:hover {
    /* background-color: rgb(215, 118, 0); */
    background-color: var(--color-garethson);
}
/* ---------------------------------------------------- */


/* **************************************************** */
/* Lachoutlaws float button */
/* ---------------------------------------------------- */
.buttonFloat {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkorange; */
    background-color: var(--color-gareth);
    position: fixed;
    bottom: 80px;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFloat::after {
    content: 'Dark Mode';
}

.theme-dark .buttonFloat::after {
    content: 'Light Mode';
}

.buttonFloat:hover {
    /* background-color: rgb(215, 118, 0); */
    background-color: var(--color-garethson);
}