/* global styles applied to all themes */
:root {
    --color-greg: #90c040;
}

/* light theme */
.theme-light {
    --color-background: #F9FAFB;
    --color-text: #1A202C;
    --color-text-2: #113840;
    --color-text-3: #3f3f3f;
    --color-header: #4da6ee;

    --color-bg-2: #96d5e3;
    --color-bg-3: #cecece;

    --color-gareth: #ff8c00;
    --color-garethson: #d77600;

    --color-harold: #cecece;
    --color-haroldson: #8fabb5;

    --color-alert-1a: #ff4500;
    --color-alert-1b: #e13c00;

    --color-base-chroma: #fff;
}

/* dark theme */
.theme-dark {
    --color-background: #1A202C;
    --color-text: #F9FAFB;
    --color-text-2: #96d5e3;
    --color-text-3: #cecece;

    --color-header: #005fa3;

    --color-bg-2: #1e383e;
    --color-bg-3: #3a3a3a;

    --color-gareth: #8a6505;
    --color-garethson: #6b5005;

    --color-harold: #3a3a3a;
    --color-haroldson: #29383d;

    /* --color-greg: #2e3f13; */
    --color-alert-1a: #992900;
    --color-alert-1b: #661b00;

    --color-base-chroma: #000;

}


.bg-1 {
    background-color: var(--color-background);
}
.bg-2 {
    background-color: var(--color-bg-2);
}
.bg-3 {
    background-color: var(--color-bg-3);
}
.bg-greg {
    background-color: var(--color-greg);
}

.tc-1 {
    color: var(--color-text);
}
.tc-2 {
    color: var(--color-text-2);
}
.tc-3 {
    color: var(--color-text-3);
}