.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
}

.accordion-content>div {
    overflow: hidden;
}

/* other styles */



.wrapper {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

.accordion, .accordion-3 {
    background: #121212;
    color: #effeef;
    padding: 1rem;
}

.accordion .accordion-panel {
    padding: 1rem;
    border: 1px solid;
}

.accordion h2 {
    position: relative;
}

.accordion-trigger {
    background: transparent;
    border: 0;
    font: inherit;
    color: inherit;
    text-align: left;
}

/* crckfx below */
.accordion-trigger {
    padding-left: 1rem;
    border-left: 4px solid;
    border-left-color: var(--color-bulb-off);
}

.accordion-trigger[aria-expanded="true"] {
    border-left: 4px solid;
    border-left-color: var(--color-bulb-on);
}

.accordion-3 {
    border-radius: 8px;
    color: var(--color-text-3);
}