.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
}

.accordion-content>div {
    overflow: hidden;
}

/* other styles */
.accordion {
    background: var(--color-bg-5);
    padding: 1rem;
    color: var(--color-text-1);
}

.accordion.rounded {
    border-radius: 8px;
}

.accordion-panel {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid;
}
.accordion.rounded .accordion-panel {
    padding: 0;
    border: none;
}

.accordion-trigger {
    background: transparent;
    border: 0;
    font: inherit;
    color: inherit;
    text-align: left;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    /* border-left: 4px solid; */
    /* border-left-color: var(--color-bulb-off); */
    position: relative;
}

/* Light pseudo-element */
.accordion-trigger::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center the light vertically */
    background-color: var(--color-bulb-off);
    width: 4px;
    height: 35px; /* Fixed height for the light */
    transition: background-color 500ms; /* Smooth transition for the light color */
}
.accordion-trigger[aria-expanded="true"]::before {
    background-color: var(--color-bulb-on);
}


/* random irrelevant */
.wrap-1000 {
    max-width: 1000px;
    width: 100%;
}
