:root {
    --color-background: #F9FAFB;
    --color-text: #1A202C;
    --color-header: #0077CC;
    
    /* --color-primary: #8ab4f8;
    --color-secondary: #34a853;
    --color-accent: #fbbc05;
    */
}

.theme-dark {
    --color-background: #1A202C;
    --color-text: #F9FAFB;
    --color-header: #4299E1;

    /* --color-primary: #8ab4f8;
    --color-secondary: #57bb8a;
    --color-accent: #fbbc05; 
    */
}