/* Lachies Style Shinan */
.styleContainer{
    width: 100%;
    height: 500px;
    background-color: #F9FAFB;
}

.styleHeader{
    width: 100%;
    height: 80px;
    background-color: #0077CC;
}

.buttonFloat{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    position: fixed;
    bottom: 80px;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFloat:hover{
    background-color: rgb(215, 118, 0);
}
