.splat-main {
    margin: 20px;
}

.buttonFloat{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    position: fixed;
    bottom: 80px;
    left: 50%;
    border-radius: 10px;
    cursor: pointer;
}

.buttonFloat:hover{
    background-color: rgb(215, 118, 0);
}