.palette-area {
    /* background-color: #888; */
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
}

.palette {
    width: 100%;
    /* min-height: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.palette .card {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 100px;
    align-items: center;
}

.palette .colour {
    width: 90px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.palette .card {
    font-size: 14px;
}

.palette .card:hover .colour {
    width: 100px;
    height: 70px;
}

.palette .card .display.name {
    font-size: 12px;
}

.palette .colour .display.hex {
    display: none;
}


.palette .colour:hover .display.hex {
    display: inline-flex;
    color: white;
    mix-blend-mode: difference;
}


.hidden-palette {
    display: none;
}

.splat-class-tester {
    padding: 4px;
    background-color: var(--color-base-chroma);
    border-radius: 4px;
    display: flex;
}

.splat-class-tester li {
    padding: 8px;
    margin: 12px;
}

.splat-class-tester li strong {
    border-radius: 4px;
    padding: 8px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uhhh {
    /* max-width: 600px; */
    margin: 10px;
    padding: 10px;
}