body {
    color: var(--color-text);
}

.styleContainer {
    width: 100%;
    height: 500px;
    background-color: var(--color-background);
}

.styleHeader {
    width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: var(--color-header);
}

.palette-area {
    /* background-color: #888; */
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
}
.palette {
    /* background-color: var(--color-bg-2); */
    width: 100%;
    height: 100px;
}
.palette .colour {
    width: 60px;
    height: 60px;
    display: inline-block;
}
