/* ----------------------------- */
body {
    background-color: #222;
}
header {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #5d4595 0%, #4d0bb8 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
    color: #111;
}
/* ----------------------------- */
/* back button for the header */
.goBackBtn {
    height: 48px;
    width: 48px;
    background-color: orangered;
    border-radius: 50%;
    box-sizing: border-box;
    position: fixed;
    left: 50px;
    top: 25px;
}

.goBackBtn:hover{
    background-color: rgb(225, 60, 0);
    height: 50px;
    width: 50px;
    left: 49px;
    top: 24px;
}

.goBackBtn::before {
    display: inline-flex;
    content: '';
    /* Using the background-image and its related properties to add the SVG content */
    background-image: url('svg/leftArrow.svg');
    background-size: 30px 30px;
    height: 100%;
    width: 100%;    
    background-position: center;
    background-repeat: no-repeat;
}