/* **************************************************** */
/* generic 'features' content */
/* ---------------------------------------------------- */
/* link container */

.wrapper {
    max-width: 1200px;
    width: 100%;    
}

.page-content {
    border-radius: 12px;
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 12px;
}
/* styles for the link buttons */
.linkButton {
    width: 225px;
    height: 250px;
    background-color: var(--color-harold);
    border-radius: 8px;
    margin: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.linkButtonImage {
    width: 225px;
    height: 210px;
    /* background-color: #ad331b; */
}

.linkButtonHeading {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkButton:hover {
    background-color: var(--color-haroldson);
    outline: 5px solid red;
}