/* **************************************************** */
/* generic 'features' content */
/* ---------------------------------------------------- */
/* link container */
.linkContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* styles for the link buttons */
.linkButton {
    width: 225px;
    height: 250px;
    background-color: var(--color-harold);
    border-radius: 8px;
    margin: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.linkButtonImage {
    width: 225px;
    height: 210px;
    /* background-color: #ad331b; */
    text-align: center;
    color: var(--color-text-3);
}

.linkButtonHeading {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkButton:hover {
    background-color: var(--color-haroldson);
    outline: 5px solid red;
}

/* new type of link button */
a.linkCard {
    width: 225px;
    height: 250px;
    background-color: var(--color-harold);
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a.linkCard:hover {
    background-color: var(--color-haroldson);
    outline: 5px solid var(--color-alert-1a);
}