* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: block; */
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
}

section.one {
    /* use a '.content' wrapper to accomodate the header in the first section */
    align-items: flex-start;
    flex-direction: column;
}


section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}