/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container {
    overflow-y: scroll;
    height: 100svh;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal;
}
section {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-direction: column;
}

section.one {
    /* use a '.content' wrapper to accomodate the header in the first section */
    align-items: flex-start;
    flex-direction: column;
}

/* used as a "center content" container which grows inside of a full-page container */
section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}