
.name-view {
    background-color: var(--color-bg-2);
    background-color: #00800088;
    height: 48px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;    
}

/* Slideshow Container */
.slideshow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/* Image Container */
.image-contain {
    overflow: hidden; /* Prevent overflowing content */
    display: flex;
    position: relative;
    background-color: inherit;
}
/* Image Container */
.image-contain.init {
    flex: 1; /* Take up remaining space in .slideshow */
}
.image-contain.init .media-element {
    display: none;
}


/* Image View */
.image-view {
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
}
.image-view.immediate {
    transition: none;
}

/* Individual Slides */
.media-element {
    flex: 0 0 100%; /* Each slide takes full width */
    height: 100%;
    display: flex;
    place-content: center;
}

/* Images */
.media-element img {
    max-width: 100%; /* Scale within width constraints */
    max-height: 100%; /* Scale within height constraints */
    object-fit: contain; /* Maintain aspect ratio */
}


.button-prev,
.button-next {
    display: inline-flex;
    /* display: none; */
    width:  32px;
    height: 32px;
    background-color: pink;
    position: absolute;
    top: 50%;
}

.button-prev {
    left: 0px;
    transform: translate(50%, -50%);
}

.button-next {
    right: 0px;
    transform: translate(-50%, -50%); 
}

.button-prev:hover,
.button-next:hover {
    background-color: red;
}






/* crckfx 'go back' button */
.button-prev {
    height: 50px;
    width: 50px;
    /* background-color: var(--color-alert-1a); */
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    /* transition: 200ms ease; */
    background-color: #0001;

    /* background-color: transparent; */
}

.button-prev:hover {
    border: none;
    height: 50px;
    width: 50px;
    background-color: #0002;
    /* margin: 10px; */
    /* background-color: red; */
    /* background-color: var(--color-alert-1b); */
}

.button-prev::before {
    /* background-color: var(--color-alert-1b); */
    display: inline-flex;
    content: '';
    /* Using the background-image and its related properties to add the SVG content */
    background-image: url('../../Images/svg/leftArrow.svg');
    background-size: 32px 32px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}