
body, html {
    height: 100svh;
}

.page-wrapper {
    max-height: 100%;
    max-width: none;
}


:root {
    --color-weapon-A: #a33;
    --color-weapon-B: #844;
    --color-armour: #cc6;
    --color-armour-B: #882;
    --color-entity: #2dd;
    --color-entity-background: #042222;
    --color-entity-hostile: #a33;
    --color-player: #2d2;

    --color-item: #8bb;

    --color-inventoryItem-empty: #333;
    --color-inventoryItem-occupied: #222;
    --color-inventoryItem-equipped: #228;

    --color-inventoryItemBorder-empty: #555;
    --color-inventoryItemBorder-occupied: #228;
    --color-inventoryItemBorder-oHover: #828;
    --color-inventoryItemBorder-equipped: #44d;

    --color-inventoryBackground: #622;
}

.game-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.game-container {
    /* width: 300px;
    height: 400px; */
    width: 100%;
    max-width: 1400px;
    height: 100%;
    /* max-height: 576px; */
    display: flex;
    flex-direction: column;
    /* padding: 8px; */
    background-color: #222;
    position: relative;
    color: white;
}

/**********************
 ****** TEXT BOX *******
  **********************/
.game-text {
    flex: 1;
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
    
    background-color: black;
    overflow-y: scroll;

    font-family: 'Courier New', Courier, monospace;
    position: relative;

}
.game-text .weapon {
    color: var(--color-weapon-A);
}
.game-text .weaponDescription {
    color: var(--color-weapon-B);
}
.game-text .armour {
    color: var(--color-armour);
}
.game-text .armourDescription {
    color: var(--color-armour-B);
}

.game-text .entity {
    color: var(--color-entity);
}
.game-text .player {
    color: var(--color-player);
}
.game-text .hostile {
    color: var(--color-entity-hostile);
}
.game-text .item {
    color: var(--color-item);
}


/* horizontal scrolling panel for playerStats or gameActions */
.game-UI-panel {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    overflow-x: scroll;
}

#playerStats {
    display: flex;
    gap: 8px;
    flex: 1;
}

.game-control-actions {
    display: flex;
    justify-content: space-between;    
    flex: 1;
}

#playerStats span {
    text-wrap: nowrap;
    flex: 1;
    /* text-align: center; */
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#playerStats span.name {
    background-color: var(--color-entity-background);
}
#playerStats span.hp {
    background-color: var(--color-entity-background);
}
#playerStats span.hp::before {
    content: "❤️";
}
#playerStats span.currentWeapon {
    background-color: var(--color-weapon-B);
}
#playerStats span.currentWeapon::before {
    content: '🗡️';
}
#playerStats span.currentArmour {
    background-color: var(--color-armour-B);
}
#playerStats span.currentArmour::before {
    content: '🛡️';
}


#menu-container {
    position: absolute;
    display: none;
}
#menu-container.visible{
    /* position: absolute; */
    display: flex;
}

.floating-menu {
    display: none;
    background-color: #888d;
    flex-direction: column;
    bottom: 0px;
    gap: 8px;
    padding: 8px;
    
}

.floating-menu.visible{
    display: flex;
}

.floating-menu button {
    width: 100%;
}
.floating-menu li {
    width: 100%;
}

button.ham {
    /* background-color: transparent; */
    /* width: 100px; */
    min-width: 2em;
    /* color: white; */
    /* background-color: var(--color-entity-background); */

}